<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <ul>
          <li>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a mat-button routerLink="/products" routerLinkActive="active"
              >Products</a
            >
          </li>
          <li>
            <a mat-button routerLink="/contact" routerLinkActive="active"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
        Cart
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
