<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3 appHighlight>
        {{ product.title | uppercase }}
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.price | currency }}
    </mat-card-subtitle>
  </mat-card-header>
  <img [src]="product.image" [alt]="product.title" />
  <mat-card-content>
    <p>{{ product.description | slice: 0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/product', product.id]">Go to product details</a>
    <button (click)="addToCart()" mat-raised-button color="primary">
      Add to cart
    </button>
  </mat-card-actions>
  <!-- 
  <p>{{ today | date: "medium" }}</p> -->
  
</mat-card>
