<input type="text" [(ngModel)]="title" name="" id="">
{{ title }}

<div *ngIf="title === 'ulises'">
  this is a div
</div>


<!-- Other more advanced examples -->

<!-- <div *ngIf="title === 'Store'; then store else welcome">
  Simple view
</div> -->
<!-- View or template-->
<!-- <ng-template #store>
  Show content
</ng-template> 
<ng-template #welcome>
  Welcome
</ng-template> -->


<!-- <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template> -->