<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Products</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >New Products</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                >Offers</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                >Latest Products</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>About the Store</h3>
          <ul>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/stores">Our Stores</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contact</h3>
          <mat-form-field>
            <input
              matInput
              placeholder="Write your email"
              [formControl]="emailField"
              type="email"
            />
          </mat-form-field>
          <!-- {{ emailField.valid }}
          {{ emailField.invalid }} -->
          <button
            mat-raised-button
            [disabled]="emailField.invalid"
            (click)="sendEmail()"
          >
            Submit
          </button>
          <p *ngIf="emailField.invalid">The field is invalid</p>
        </div>
      </div>
    </div>
  </div>
</footer>
